<% content_for(:head) do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAApcIfSkLqMouyz7UN3kP1_xShCHLNmkl0Mo005uq2NjWtXgWn7RQjgt07Tg1AJUVXws0b1KSEJtc2OQ" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% end %>

<% # Form field for manual testing %>
<% if ApplicationController::WOS_MANUAL_TESTS == true %>
  <form id="TestActivityForm" onsubmit="return false;" method="post">
    <textarea rows="3" cols="70" name="jsonobject" />"Enter Activity JSON object here..." </textarea>
  <input type="button" value="Submit" onclick="updateActivity(this.form)"/>
  </form>
<%end %>

<div id="display2">
  <div id="sky_map"></div>

  <div id="contextual-info-container">
    <iframe id="contextual-info" src="/display1/activity_contextual_info"></iframe>
  </div>

  <div id="weatherForecast">
    <div style='width: 728px; height: 90px; background-image: url( http://vortex.accuweather.com/adcbin/netweather_v2/backgrounds/black_728x90_bg.jpg ); background-repeat: no-repeat; background-color: #000000;' ><div id='NetweatherContainer' style='height: 74px;' ><script src='http://netweather.accuweather.com/adcbin/netweather_v2/netweatherV2ex.asp?partner=netweather&tStyle=whteYell&logo=1&zipcode=96040&lang=eng&size=11&theme=black&metric=0&target=_self'></script></div><div style='text-align: center; font-family: arial, helvetica, verdana, sans-serif; font-size: 11px; line-height: 16px; color: #FFFFFF;' ><div style='float: left; padding-left: 10px;'><a style='color: #FFFFFF' href='http://www.accuweather.com/us/CA/HAT CREEK/96040/city-weather-forecast.asp?partner=accuweather&traveler=0' >Weather Forecast</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/maps-satellite.asp' >Weather Maps</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/index-radar.asp?partner=accuweather&traveler=0&zipcode=96040' >Weather Radar</a> | <a style='color: #FFFFFF' href='http://hurricane.accuweather.com/hurricane/index.asp' >Hurricane Center</a></div><img style='float: right; padding-right: 5px;' src='http://vortex.accuweather.com/adc2004/common/images/misc/netweather_v2/adcwhite.png' /></div></div>
  </div>

  <div id="webcam">
    <img id="webcamImage1" class="webcam-image" src="http://atacam.seti.org/panorama/Pan1.jpg"/>
    <img id="webcamImage2" class="webcam-image" src="http://atacam.seti.org/panorama/Pan2.jpg"/>
    <img id="webcamImage3" class="webcam-image" src="http://atacam.seti.org/panorama/Pan3.jpg"/>
  </div>
</div>

<%= javascript_tag do %>
  var display1_activity_path = '<%= display1_activity_path %>';
  var display1_beam_path = '<%= display1_beam_path %>';
  var TIMEOUT_RETRY_LONG = <%= ApplicationController::TIMEOUT_RETRY_LONG %>;
  var TIMEOUT_ACTIVITY = <%= ApplicationController::TIMEOUT_ACTIVITY %>;
  var TIMEOUT_WEATHER = <%= ApplicationController::TIMEOUT_WEATHER %>;
  var TIMEOUT_WEBCAM = <%= ApplicationController::TIMEOUT_WEBCAM %>;
  var TIMEOUT_CONTEXTUAL_SCROLL = <%= ApplicationController::TIMEOUT_CONTEXTUAL_SCROLL %>;
  var SCREENSIZE_HEIGHT = <%= ApplicationController::SCREENSIZE_HEIGHT %>;
  var CONTEXTUAL_INFO_SCROLL_PIXEL = <%= ApplicationController::CONTEXTUAL_INFO_SCROLL_PIXEL %>
<% end %>
<%= javascript_include_tag "display2.js" %>

<script type="text/javascript">

  $(window).load(function()
  {    
    initialize();
    $(window).unload( function () { GUnload(); } );

<% # No updates for manual tests %>
<% if ApplicationController::WOS_MANUAL_TESTS == false %>
      updateActivity();
      timeoutManager.registerTimeout(function() { updateWeatherForecast(); },  TIMEOUT_WEATHER );
      timeoutManager.registerTimeout(function() { updateWebCam(); },  TIMEOUT_WEBCAM );
      setInterval(function(){scrollContextualInfo()}, TIMEOUT_CONTEXTUAL_SCROLL);
<% end %>
  })

</script>
