
<% content_for(:head) do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAddiIMkMAknNU3D5NS1TU4RT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQU01Mn68JTNFGadfavdmyOXKv-bw" type="text/javascript"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
<% end %>

<div id="display2">
  <div id="sky_map"></div>

  <div id="contextual-info-container">
    <iframe id="contextual-info" src="http://en.m.wikipedia.org/wiki?search=sun"></iframe>
  </div>
  
  <div id="weatherForecast">
    <div style='width: 728px; height: 90px; background-image: url( http://vortex.accuweather.com/adcbin/netweather_v2/backgrounds/black_728x90_bg.jpg ); background-repeat: no-repeat; background-color: #000000;' ><div id='NetweatherContainer' style='height: 74px;' ><script src='http://netweather.accuweather.com/adcbin/netweather_v2/netweatherV2ex.asp?partner=netweather&tStyle=whteYell&logo=1&zipcode=96040&lang=eng&size=11&theme=black&metric=0&target=_self'></script></div><div style='text-align: center; font-family: arial, helvetica, verdana, sans-serif; font-size: 11px; line-height: 16px; color: #FFFFFF;' ><div style='float: left; padding-left: 10px;'><a style='color: #FFFFFF' href='http://www.accuweather.com/us/CA/HAT CREEK/96040/city-weather-forecast.asp?partner=accuweather&traveler=0' >Weather Forecast</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/maps-satellite.asp' >Weather Maps</a> | <a style='color: #FFFFFF' href='http://www.accuweather.com/index-radar.asp?partner=accuweather&traveler=0&zipcode=96040' >Weather Radar</a> | <a style='color: #FFFFFF' href='http://hurricane.accuweather.com/hurricane/index.asp' >Hurricane Center</a></div><img style='float: right; padding-right: 5px;' src='http://vortex.accuweather.com/adc2004/common/images/misc/netweather_v2/adcwhite.png' /></div></div>
  </div>

  <div id="webcam">
    <img id="webcamImage1" class="webcam-image" src="http://atacam.seti.org/panorama/Pan1.jpg"/>
    <img id="webcamImage2" class="webcam-image" src="http://atacam.seti.org/panorama/Pan2.jpg"/>
    <img id="webcamImage3" class="webcam-image" src="http://atacam.seti.org/panorama/Pan3.jpg"/>
  </div>
</div>

<% javascript_tag do %>
  var display1_activity_path = '<%= display1_activity_path %>';
  var TIMEOUT_RETRY_LONG = <%= ApplicationController::TIMEOUT_RETRY_LONG %>
  var TIMEOUT_ACTIVITY = <%= ApplicationController::TIMEOUT_ACTIVITY %>
  var TIMEOUT_WEATHER = <%= ApplicationController::TIMEOUT_WEATHER %>
  var TIMEOUT_WEBCAM = <%= ApplicationController::TIMEOUT_WEBCAM %>
  var SCREENSIZE_HEIGHT = <%= ApplicationController::SCREENSIZE_HEIGHT %>
<% end %>
<%= javascript_include_tag "display2.js" %>

<script type="text/javascript">

  var IsScrollDown = true;
  function scrollContextualInfo()
  {    
    var offset = $("#contextual-info").offset();
    var offsetTop = offset.top;
    
    if(offsetTop < -1450 && IsScrollDown)
    {
      offsetTop += 10;
      IsScrollDown = false;
    }
    else if(IsScrollDown)
    {
      offsetTop -= 10;
    }
    else
    {
      offsetTop += 10;
    }

    if(offsetTop > 0)
    {
      IsScrollDown = true;
    }
    
    $("#contextual-info").offset({ top: offsetTop });
  }

  $(window).load(function()
  {    
    initialize();
    $(window).unload( function () { GUnload(); } );

    updateActivity();
    timeoutManager.registerTimeout(function() { updateWeatherForecast(); },  TIMEOUT_WEATHER );
    timeoutManager.registerTimeout(function() { updateWebCam(); },  TIMEOUT_WEBCAM );
    setInterval(function(){scrollContextualInfo()}, 100);
})

</script>
