<table id="beam<%= beam_id %>">
  <tr>
    <td class="beam_information">
      <div class="beam_information_top">
        <div class="text-large">Beam <%= beam_id %></div>
        <div class="beam_status">&nbsp;<!-- ON/OFF image here --></div>
        <div class="beam_frequency">&nbsp;<!-- MHz here --></div>
        <div class="beam_location">&nbsp;<!-- RA / DEC here --></div>
        <div class="float-wall"></div>
      </div>

      <div class="beam_information_bottom">
        <div><%= render 'baseline', :baseline_id => beam_id %></div>
      </div>
    </td>
    <td class="beam_information_center">
      <div>&nbsp;<!-- Description here --></div>
      <div><%= render 'waterfall', :waterfall_id => beam_id %></div>
    </td>
    <td class="beam_frequency_coverage">
      <table class="frequency_coverage_table">
        <tr><th colspan="3">Frequency Coverage</th></tr>
        <tr>
          <td class="header">
            <table style="width:100%;">
            <% freq_coverage_rows.times do |i| %>
              <tr class="frequency_coverage_table_header">
                <td><%= i+1 %></td>
              </tr>
            <% end %>
            </table>
          </td>
          <td style="width:200px;">
            <table id="frequency_cover_data_table<%=beam_id%>" class="frequency_cover_data_table">
              <% freq_coverage_rows.times do %>
              <tr>
                <% freq_coverage_cols.times do %>
                  <td class="off"></td>
                <% end %>
              </tr>
            <% end %>
            </table>
          </td>
          <td style="background-color:white;">&nbsp;</td>
        </tr>
        <tr>
          <td class="header">GHz</td>
          <td class="footer" colspan="2">
            <table>
            <tr class="frequency_coverage_table_footer">
              <td style="width:76px;">0.1</td>
              <td style="width:97px;">0.5</td>
              <td>1.0</td>
            </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
