<% # Form fields for manual testing %>
<% if ApplicationController::WOS_MANUAL_TESTS == true %>
  <table border = 1>
    <tr><td>
        <form id="TestActivityForm" onsubmit="return false;" method="post">
          <textarea rows="3" cols="70" name="jsonobject" />"Enter Activity JSON object here..." </textarea>
          <input type="button" value="Submit" onclick="updateActivity(this.form)"/>
        </form>
      </td></tr>
    <tr><td>
        <form id="TestBeamForm" onsubmit="return false;" method="post">
          <textarea rows="2" cols="70" name="jsonobject" />"Enter JSON Beam object here..." </textarea>
          <input type="button" value="Submit" onclick="updateBeamInfo(1, this.form)"/>
        </form>
      </td><td>
        <form id="TestFreqForm" onsubmit="return false;" method="post">
          <textarea rows="2" cols="70" name="jsonobject" />"Enter JSON Freq object here..." </textarea>
          <input type="button" value="Submit" onclick="updateFrequencyCoverage(1, null, this.form)"/>
        </form>
      </td></tr>
    <tr><td>
        <form id="TestWaterfallForm" onsubmit="return false;" method="post">
          <textarea rows="2" cols="70" name="jsonobject" />"Enter JSON Waterfall  object here..."</textarea>
          <input type="button" value="Submit" onclick="updateWaterfall(1, this.form)"/>
        </form>
      </td></tr>
    <tr><td>
        <form id="TestBaselineForm" onsubmit="return false;" method="post">
          <textarea rows="2" cols="70" name="jsonobject" />"Enter JSON Baseline object here..."</textarea>
          <input type="button" value="Submit" onclick="updateBaseline(1, this.form)"/>
        </form>
      </td></tr>
  </table>
<% end %>

<div id="display1_header">
  <div class="text-large"><%= image_tag "logo_seti.png" %></div>
  <div class="text-title-yellow" style="padding-left:25px; width:1000px;">Current Status: <span id="current-observation-id">?</span></div>
  <div class="text-title-yellow">Activity ID: <span id="activity-id">?</span></div>
  <div class="logo-cmusv"><%= image_tag "logo_cmusv.jpg", :width => "300px", :style => "float:right;" %></div>
  <div class="float-wall"></div>
</div>

<div class="divider-horizontal"></div>
<%= render 'beam', :beam_id => 1 %>
<div class="divider-horizontal"></div>
<%= render 'beam', :beam_id => 2 %>
<div class="divider-horizontal"></div>
<%= render 'beam', :beam_id => 3 %>
<%= javascript_tag do %>
  var display1_activity_path = '<%= display1_activity_path %>';
  var display1_waterfall_path = '<%= display1_waterfall_path %>';
  var display1_beam_path = '<%= display1_beam_path %>';
  var display1_frequency_coverage_path = '<%= display1_frequency_coverage_path %>';
  var waterfall_height = <%= waterfall_height %>;
  var TIMEOUT_ACTIVITY = <%= ApplicationController::TIMEOUT_ACTIVITY %>;
  var TIMEOUT_WATERFALL = <%= ApplicationController::TIMEOUT_WATERFALL %>;
  var TIMEOUT_BASELINE = <%= ApplicationController::TIMEOUT_BASELINE %>;
  var TIMEOUT_BEAM_INFO = <%= ApplicationController::TIMEOUT_BEAM_INFO %>;
  var TIMEOUT_RETRY_LONG = <%= ApplicationController::TIMEOUT_RETRY_LONG %>;
  var TIMEOUT_RETRY_SHORT = <%= ApplicationController::TIMEOUT_RETRY_SHORT %>;
<% end %>
<%= javascript_include_tag "display1.js" %>

<script type="text/javascript">

  $(window).load(function()
  {
<% # No updates for manual tests %>
<% if ApplicationController::WOS_MANUAL_TESTS == false %>
      updateActivity();
<% end %>
  });

</script>
