

<div id="display1_header">
  <div class="text-large" style="float:left; width:125px;"><%= image_tag "logo_seti.png" %></div>
  <div class="text-title" style="float:left; height:65px; vertical-align:bottom;">What We are Currently Scanning</div>
  <div class="float-wall"></div>
</div>

<div id="beam_row">
  <div style="float:left;">Observation History</div>
  <div style="float:left; padding-left:5px;">
    <div style="float:left;"><%= render 'waterfall', :waterfall_id => 1 %></div>
    <div style="float:left; padding-left:5px;"><%= render 'baseline', :baseline => @baseline1 %></div>
    <div class="float-wall"></div>

    <div class="text-large" style="float:left;">Beam 1</div>
  </div>
  <div class="float-wall"></div>
</div>

<div id="beam_row">
  <div style="float:left;">Observation History</div>
  <div style="float:left; padding-left:5px;">
    <div style="float:left;"><%= render 'waterfall', :waterfall_id => 2 %></div>
    <div style="float:left; padding-left:5px;"><%= render 'baseline', :baseline => @baseline1 %></div>
    <div class="float-wall"></div>

    <div class="text-large" style="float:left;">Beam 2</div>
  </div>
  <div class="float-wall"></div>
</div>

<div id="beam_row">
  <div style="float:left;">Observation History</div>
  <div style="float:left; padding-left:5px;">
    <div style="float:left;"><%= render 'waterfall', :waterfall_id => 3 %></div>
    <div style="float:left; padding-left:5px;"><%= render 'baseline', :baseline => @baseline1 %></div>
    <div class="float-wall"></div>

    <div class="text-large" style="float:left;">Beam 3</div>
  </div>
  <div class="float-wall"></div>
</div>




<script type="text/javascript">

function drawWaterfallRows(id, start_row, end_row, data64)
{
  var waterfall_data = decode64(data64);

  var processingInstance = null;
  if (!processingInstance)
  {
    processingInstance = Processing.getInstanceById('canvas_waterfall' + id);
    processingInstance.drawWaterfallRows(id, start_row, end_row - start_row, waterfall_data);
  }
}

// AJAX call to update JSON
function updateWaterfall(id)
{
  if(updateWaterfall.waterfall_data == undefined)
  {
     updateWaterfall.waterfall_data = new Array();
  }

  if(updateWaterfall.waterfall_data[id] == undefined)
  {
    updateWaterfall.waterfall_data[id] = {data:"", last_row:1};
  }

  // Take id and make AJAX query
  $.ajax({
    type:     'GET',
    url:      '/display1/waterfall',
    data:     { id:id, start_row:updateWaterfall.waterfall_data[id].last_row },
    success:  function(response) {
      // store the last row we have so far, so that the next query gets the subsequent rows
      updateWaterfall.waterfall_data[id].last_row = response.endRow;
      if(updateWaterfall.waterfall_data[id].last_row >= <%= waterfall_height %> )
      {
        updateWaterfall.waterfall_data[id].last_row = 0;
      }

      drawWaterfallRows(response.id, response.startRow, response.endRow, response.data);
    },
    error:    function() {
      // We should handle error here
    },
    datatype: 'json'
  });
}

// Register waterfall display for automatic updates
$(document).ready(function()
{
  registerElementTimer(function() { updateWaterfall(1); }, 1500);
  registerElementTimer(function() { updateWaterfall(2); }, 1500);
  registerElementTimer(function() { updateWaterfall(3); }, 1500);
});

</script>